.python_packages
.vscode
.pyupdater
archive/.exclude
pyu-data

# setuptools
build
dist
src
target
*.egg-info

smseventlog/data/reports/saved
smseventlog/data/reports/images
smseventlog/data/db.yaml
smseventlog/data/email.yaml
smseventlog/data/excel

.DS_Store
Pipfile.lock

# Byte-compiled / optimized / DLL files
__pycache__
*.py[cod]
*$py.class

*.xlsm
smseventlog/data/apikeys/discord.csv
SMS.zip
smseventlog/data/csv/avail_email.csv
avail.html
html_out.html
smseventlog/data/csv/fleet_monthly_report_email.csv
run.spec
_info/utils/generate-iconset.py
