.python_packages
.vscode
/archive/.exclude

# setuptools
/build
/dist
/src
*.egg-info

/data
/smseventlog/data/db.yaml
smseventlog/data/email.yaml
/smseventlog/data/excel

.DS_Store


# Local python packages
.python_packages/

# Python Environments
Pipfile.lock

# Byte-compiled / optimized / DLL files
Project/__pycache__/
__pycache__/
*.py[cod]
*$py.class

*.xlsm
*.css
smseventlog/api.py
smseventlog/data/ApiKeys/discord.csv
SMS.zip
