.vscode

/archive/.exclude

# setuptools
/build
/dist
*.egg-info

/data
/smseventlog/data/db.yaml

.DS_Store


# Local python packages
.python_packages/

# Python Environments
Pipfile.lock

# Byte-compiled / optimized / DLL files
Project/__pycache__/
__pycache__/
*.py[cod]
*$py.class

*.xlsm