[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
jupyter = "*"

[packages]
xlwings = "*"
pandas = "==1.0.0rc0"
pypika = "*"
pyyaml = "*"
sqlalchemy = "*"
pyodbc = "*"
pyqt5 = "*"
pywin32 = "*"

[requires]
python_version = "3.8"
