[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
jupyter = "*"
sqlacodegen = "*"
xlwings = "*"
pyupdater = {git = "https://github.com/Digital-Sapphire/PyUpdater.git",ref = "master"}
pyinstaller = "*"

[packages]
pandas = "*"
pypika = "*"
pyyaml = "*"
sqlalchemy = "*"
pyodbc = "==4.0.28"
xlrd = "*"
bs4 = "*"
qdarkstyle = "*"
exchangelib = "*"
discord = "*"
azure-functions = "*"
openpyxl = "*"
"hurry.filesize" = "*"
pyqt5 = "*"
appscript = {version = "*",sys_platform = "== 'darwin'"}
pywin32 = {version = "*",os_name = "== 'windows'"}
plotly = "*"
seaborn = "*"
matplotlib = "*"
selenium = "*"
joblib = "*"
weasyprint = "==51"
jinja2 = "*"
cairosvg = "==2.4.2"
sentry-sdk = "*"

[requires]
python_version = "3.8"
