[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
jupyter = "*"
sqlacodegen = "*"
pyupdater = {git = "https://github.com/Digital-Sapphire/PyUpdater.git",ref = "master"}
bump2version = "*"
pyupdater-s3-plugin = "*"
black = "*"

[packages]
pandas = "==1.1.2" # lock to stop updates to io.formats.style.py
pypika = "*"
pyyaml = "*"
sqlalchemy = "*"
pyodbc = "==4.0.28"
xlrd = "*"
bs4 = "*"
qdarkstyle = "*"
exchangelib = "*"
discord = "*"
azure-functions = "*"
openpyxl = "*"
"hurry.filesize" = "*"
pyqt5 = "*"
appscript = {version = "*", sys_platform = "== 'darwin'"}
pywin32 = {version = "*", sys_platform = "== 'win32'"}
plotly = "*"
seaborn = "*"
matplotlib = "*"
selenium = "*"
joblib = "*"
weasyprint = "==51"
jinja2 = "*"
cairosvg = "==2.4.2"
sentry-sdk = "*"
pyinstaller = "*"
pycparser = "==2.14"
kaleido = "*"
chromedriver-autoinstaller = {git = "https://github.com/jaymegordo/python-chromedriver-autoinstaller.git", ref = "master"}

[requires]
python_version = "3.8"

[pipenv]
allow_prereleases = true
