/* gloria blue: 0033A0 */
/* komatsu yellos: F7A800 */

@media print {
    .pagebreak { page-break-before: always; }
    /* table {page-break-inside: auto;} */
}
@page {
    margin-top: 70px;
    margin-bottom: 100px;
    margin-right: 60px;
    margin-left: 60px;
}
@page {
    @top-left {
        content: element(header);
    }
}
@page {
    @bottom-right {
        content: element(footer);
    }
}

.level_1_list{
    font-weight: bold;
}
.level_2_list{
    font-weight: normal;
    padding-top: 5px;
    list-style-type: none;
    text-indent: -20px;
}
.two_col_list{
    width:300px;
    font-weight: normal;
    padding-top: 5px;
    /* padding-left: 10px; */
    padding-bottom: 10px;
    text-indent: 10px;
}
.two_col_list_narrow{
    width:200px;
    font-weight: normal;
    padding-top: 5px;
    padding-bottom: 10px;
    padding-left: 0;
    list-style-type: none;
}
ul span + span { float:right;}

/* Table of Contents lists */
ol {
    list-style-type: none;
    counter-reset: item;
    margin: 10px;
    padding: 0;
  }
  ol > li {
    display: table;
    counter-increment: item;
    margin-bottom: 0.6em;
  } 
  ol > li:before {
    content: counters(item, ".") ". ";
    display: table-cell;
    padding-right: 0.6em;    
  }
  li ol > li {
    margin: 0;
  }
  li ol > li:before {
    content: counters(item, ".") " ";
  }
  a {
      color: black;
  }

#header {
    position: running(header);
    content: url("./images/SMS Logo.png");
    transform:  scale(0.15) translate(50px, 60px);
    transform-origin: left;
}
#footer_image {
    position: running(footer_image);
    content: url("./images/SMS Footer.png");
    transform: scale(0.632 0.6) translateY(-30px);
    transform-origin: right;
}
#pagenum {
    position: running(pagenum);
    content: "Page " counter(page) " of " counter(pages);
    font-size: 9px;
    font-style: italic;
    text-align: right;
    transform: translateY(-35px)
}
#footer {
    position: running(footer);
    content: element(footer_image) element(pagenum);
    transform-origin: right bottom;
    transform: translateY(-10px);
}
.bottom_title {
    display: flex;
    height: 950px;
    width: 100%;
    justify-content: center;
    /* justify-content: space-between; */
    align-items: center;
    vertical-align: middle;
    flex-direction: column;
    background-color: red;
    text-align: center;
    /* word-wrap: none; */
}

html {
    font-family: Tahoma, Geneva, sans-serif;
    /* font-size: 12px; */
    font-size: 10pt;
}
h1, h2, h3, h4, h5 {
    page-break-after: avoid;
    margin: 0px;
}
h2 {
    font-size: 16pt;
    color: #265474;
    margin-bottom: 8px;
}
h3 {
    font-size: 13pt;
    color: #3675a2;
    margin-top: 4px;
    margin-bottom: 4px;
}

.splitscreen {
    display: flex;
}
.splitscreen .left {
    flex: 0.45;
    display: inline-block;
    /* border: 1px dotted green; */
    min-width: 0;
    /* max-width: 40%; */
}
.splitscreen .right {
    flex: 0.55;
    margin-left: 10px;
    /* display: block; */
    width: auto;
    /* border: 1px dotted rgb(255, 0, 255); */
}
div {
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;
    width: auto;
    max-width: 100%;
}
figure img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    /* border: 1px dotted rgb(0, 255, 145); */
}

figure {
    margin: 0;
    display: block;
    /* border: 1px dotted red; */
    width: auto;
    max-width: 100%;
}
figcaption {
    font-style: italic;
    font-size: 11px;
    text-align: center;
    max-width: 100%;
    /* border: 1px dotted blue; */
}
.figcaption_tbl {
    text-align: left !important;
    width: 100% !important;
}
.figcaption_left {
    text-align: left !important;
    width: 100% !important;
}
.figcaption_center {
    text-align: center !important;
    /* width: 100% !important; */
}

table {
    table-layout: auto;
    width: auto;
    border: 1px solid #000000;
    background-color: #FFFFFF;
    border-collapse: collapse;
    margin-top: 0px;
    margin-bottom: 2px;
    page-break-inside: avoid;
    font-size: 10.5px;
    display: inline-block;
  }
  .pagebreak_table {
      page-break-inside: auto !important;
      display: table;
      /* font-size: 8px; */
  }
  table td, table th {
    padding: 3px 5px;
  }
  table tr:nth-child(even) {
    background: #E4E4E4; 
  }
  table thead {
    background: #244062;
    border-bottom: 1px solid #000000;
    display: table-header-group;
  }
  table thead th {
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
  }
  tr {
    page-break-inside: avoid;
    page-break-after: auto }

.signature_table {
    table-layout: fixed;
    font-size: 10pt;
    font-weight: normal;
    text-align: center;
    width: 500px;
}
.signature_table tr td {
    height: 80px;
}
.signature_table td:nth-child(1) {
    width: 100px;
}
.signature_table td:nth-child(2) {
    width: 100%;
}
.signature_table td {
    border: 1px black solid;
}
.signature_table tr:nth-child(even) {
    background: none; 
}

.failure_report_header_table {
    table-layout: fixed;
    width: 100%;
    font-size: 10pt;
    border: None;
    border-bottom: 1px solid black;
    display: inline-block;
    padding-top: 30px;
}

.failure_report_header_table thead {
    border: None;
}
/* .failure_report_header_table td {
    width: 1000px;
} */

.failure_report_header_table tr:nth-child(even) {
    background: none; 
}